/**************************************************/
/* COMMITMENTS
/**************************************************/

#commitments {
    background: $greyBg;
    padding-bottom: 60px;

    @include max-width($mobile) {
        padding-bottom: 10px;
    }
}

.commitments__list {
    overflow: hidden;
    text-align: center;

    @include max-width($desktop) {
        width: 516px;
        margin: 0 auto;
    }

    @include max-width($mobile) {
        width: auto;
        margin-bottom: 35px;
    }
}

.commitments__item {
    display: inline-block;
    margin: 0 40px 30px 40px;

    @include max-width($mobile) {
        margin-right: 30px;
        margin-left: 30px;
    }
}

.commitments__link {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 90px;
    height: 90px;
    opacity: .9;
    text-indent: -9999px;
    @include transition(opacity .23s ease-in-out);

    &:hover {
        opacity: 1;
    }

    @include max-width($mobile) {
        width: 80px;
        height: 80px;
    }
}

.commitments__link--cuisine-du-web {
    @include retina-image("../images/cuisine-du-web-logo", null);
}

.commitments__link--lyon-rb {
    @include retina-image("../images/lyon-rb-logo", null);
}

.commitments__link--rulu {
    @include retina-image("../images/rulu-logo", null);
}

.commitments__link--rails-girls-lyon {
    @include retina-image("../images/rails-girls-lyon-logo", null);
}

.commitments__link--la-conf-paris {
    @include retina-image("../images/la-conf-paris-logo", null);
}

.commitments__link--open-source {
    @include retina-image("../images/open-source-logo", null);
}
