body {
    @include lato;
    color: #707070;
    font-size: 15px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}

a {
    @include transition(all .2s ease-in-out);
}

h4 {
    @include montserrat;
    color: #373737;
    font-size: 20px;
    margin-bottom: 17px;
    line-height: 1.4;
}

.logo {
    a {
        display: block;
        text-align: center;
    }

    svg {
        display: block;
        margin: 0 auto 12px auto;
    }

    .name {
        display: block;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        @include latoBold;
    }
}

.container {
    padding: 0 6%;
    margin: 0 auto;
    max-width: 1600px;
}

.section__title {
    @include monserratBold;
    color: #282828;
    font-size: 15px;
    margin-bottom: 60px;
    padding-top: $sectionsMargin;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    // Line
    &:after {
        content: "";
        background: $red;
        width: 50px;
        height: 3px;
        margin-left: -25px;
        @include position(absolute, null null -10px 50%);
    }
}

.section__title--blue:after {
    background: $blue;
}

.row {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
}

.col-3 {
    margin-bottom: $sectionsMargin;
    width: (90% / 3);

    &:nth-child(4) {
        margin-left: auto;
        margin-right: auto;
    }

    @include max-width($tabletLandscape) {
        width: 45%;

        &:nth-child(4) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include max-width(560px) {
        width: 100%;
        margin-bottom: 42px;

        &:last-child {
            margin-bottom: 60px;
        }
    }
}

.col-3--centered {
    text-align: center;
}
