/**************************************************/
/* RESPONSIVE
/**************************************************/

@mixin max-width($size) {
    @media only screen and (max-width: "#{$size}") {
        @content;
    }
}


/**************************************************/
/* MISCELLANEOUS
/**************************************************/

@mixin ratio($val, $element: div) {
    position: relative;

    > #{$element} {
        @include position(absolute, 0);
    }

    &:before {
        content: "";
        display: block;
        padding-top: $val;
    }
}

@mixin logoTypo {
    span {
        letter-spacing: 2px;
        text-transform: uppercase;
        @include latoBold;
    }
}
