body
  font-family: "LucidaGrande", "Lucida Sans Unicode", sans-serif
  -webkit-font-smoothing: antialiased
  font-smooth: always
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
  -webkit-text-stroke: 1px transparent
  background-color: white
  color: $defaultTextColor
  font-size: 0.9em
  line-height: 1.6em

a
  color: $linkColor
  text-decoration: none
  &:hover
    color: $linkColorHover

a.stealth
  color: $defaultTextColor
  &:hover
    color: $defaultTextColor

.clearfix
  clear: both

h4
  margin-top: 0

div,article
  &>.avatar
    width: $avatarSize
    height: $avatarSize
    +transition(0.5s ease)
    +border-radius(50%)
    border: ($avatarSize/2) solid rgba(black, 0.6)
    background-position: 50% 50%
    background-size: $avatarSize $avatarSize
    background-repeat: no-repeat
    background-origin: border-box
    +box-sizing(border-box)
    background-image: url('/img/logo-alpinelab-128.png') // default avatar image
  &:hover
    &>.avatar
      border: 5px solid rgba(black, 0.6)

#alpinelab
  .avatar
    background-image: url('/img/logo-alpinelab-128.png')

#mike
  .avatar
    background-image: url('http://www.gravatar.com/avatar/db878dfa87aec08092efcb7cc12ab343?size=128')
#thib
  .avatar
    background-image: url('http://www.gravatar.com/avatar/722d1ed204f164d8424cda48d6d81611?size=128')
#mathilde
  .avatar
    background-image: url('/img/photo-mathilde.jpg')
#martin
  .avatar
    background-image: url('/img/photo-martin.jpg')
#steeve
  .avatar
    background-image: url('/img/photo-steeve.jpg')

.pagination-wrapper
  margin-top: 4em

i.fa
  margin-left: 0.5em
  color: $sw_light_gray
  +transition(color 0.5s)
  &.fa-github, &.fa-github-square
    &:hover
      color: $sw_dark_gray
  &.fa-twitter, &.fa-twitter-square
    &:hover
      color: $twitter
  &.fa-facebook, &.fa-facebook-square
    &:hover
      color: $facebook
  &.fa-linkedin, &.fa-linkedin-square
    &:hover
      color: $linkedin
  &.fa-pinterest, &.fa-pinterest-square
    &:hover
      color: $pinterest
  &.fa-google-plus, &.fa-google-plus-square
    &:hover
      color: $google_plus

.caret // loosely based on Bootstrap implementation
  display: inline-block
  width: 0
  height: 0
  vertical-align: top
  border-top: 4px solid black
  border-right: 4px solid transparent
  border-left: 4px solid transparent
  content: ""
