+keyframes(logo-heartbeat)
  0%
    +box-shadow(0 0 40px 15px $white)
  50%
    +box-shadow(0 0 40px 30px $white)
  100%
    +box-shadow(0 0 40px 15px $white)

a
  color: $linkColor
  text-decoration: none
  &:hover
    color: $linkColorHover
    text-decoration: none

a.stealth
  color: inherit
  &:hover
    color: inherit

.star-delimiter
  color: $alBlue
  text-align: center
  margin: 2.5em 0
  font-size: 1.5em
  &:after
    content: '*'
