a
  color: $linkColor
  text-decoration: none
  &:hover
    color: $linkColorHover
    text-decoration: none

a.stealth
  color: inherit
  &:hover
    color: inherit

.star-delimiter
  color: $alBlue
  margin: 2.5em 0
  font-size: 1.5em
  &:after
    content: '*'
