html, body
  height: 100%

#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto (-$footerHeight)
  &>.container
    padding-top: $navbarHeight

#push, footer
  height: $footerHeight

footer
  background-color: $grayLighter
  text-align: center
  line-height: $footerHeight
