section#projects
  h3
    font-weight: normal
    .description
      font-size: 0.6em
      &::before
        content: ' - '
  .row-fluid
    margin-bottom: 50px
  .screenshot
    position: relative
    .mask
      left: 0
      top: 0
      +square(100%)
      position: absolute
      background-color: rgba($black, 0)
      color: transparent
      .mask-content
        position: absolute
        bottom: 0
        padding: 0 30px 30px 30px
        line-height: 1.0em
        font-size: 1.2em
    &:hover
      .mask
        background-color: rgba($black, 0.8)
        color: white
