#company, #team
  h2
    margin: 0
    margin-bottom: 1em
  article
    padding-top: 1em
    padding-bottom: 2em
  .avatar
    float: left
    margin-right: 1em
  i
    margin-left: 0.5em
    color: $sw_light_gray
    -webkit-transition: color 0.5s
    -moz-transition: color 0.5s
    -o-transition: color 0.5s
    -ms-transition: color 0.5s
    transition: color 0.5s
    &.icon-github:hover
      color: $sw_dark_gray
    &.icon-twitter:hover
      color: $twitter
    &.icon-facebook-sign:hover
      color: $facebook
    &.icon-linkedin-sign:hover
      color: $linkedin
    &.icon-google-plus-sign:hover
      color: $google_plus
    &.icon-envelope:hover
      color: $sw_dark_red
    &.icon-globe:hover
      color: $sw_darkest_blue
    &.icon-phone:hover
      color: $phone
      &::after
        margin-left: 1em
        color: $sw_gray
        font-size: 0.5em
