code
  margin: 0 0.1em
  padding: 0.1em 0.2em
  border: 1px solid lighten($sw_lighter_gray, 5%)
  background-color: lighten($sw_lightest_gray, 5%)
  border-radius: 0.2em

pre
  margin: 0 0.2em
  padding: 0.5em 1em
  border: 1px solid lighten($sw_lighter_gray, 5%)
  background-color: lighten($sw_lightest_gray, 5%)
  border-radius: 0.4em
  code
    margin: 0
    padding: 0
    border: none
    background: none
