/**************************************************/
/* COMMITMENTS
/**************************************************/

#commitments
  border-top: 1px solid #e6eaec
  padding-bottom: 20px
  @include max-width($mobile)
    padding-bottom: 10px

.commitments__title
  color: #2e2e2e
  font-size: 15px
  margin: 0 0 18px -23px
  &:not(:first-child)
    margin-top: 40px
  @include montserrat
  &:before
    content: ""
    background: #d3d3d3
    display: inline-block
    width: 15px
    height: 2px
    margin-right: 10px
    @include position(relative, -4px null null null)

.commitments__list
  overflow: hidden
  text-align: center
    
.commitments__item
  display: inline-block
  // margin: 0 40px 30px 40px
  margin: 0 20px
  @include max-width($mobile)
    margin-right: 30px
    margin-left: 30px
  
.commitments__link
  display: block
  background-position: center
  background-repeat: no-repeat
  background-size: 100% auto
  width: 70px
  height: 70px
  opacity: .9
  text-indent: -9999px
  @include transition(opacity .23s ease-in-out)
  &:hover
    opacity: 1
  @include max-width($mobile)
    width: 80px
    height: 80px
    
.commitments__link--cuisine-du-web
  @include retina-image("../images/cuisine-du-web-logo", null)

.commitments__link--lyon-rb
  @include retina-image("../images/lyon-rb-logo", null)

.commitments__link--rulu
  @include retina-image("../images/rulu-logo", null)

.commitments__link--rails-girls-lyon
  @include retina-image("../images/rails-girls-lyon-logo", null)

.commitments__link--la-conf-paris
  @include retina-image("../images/la-conf-paris-logo", null)

.commitments__link--open-source
  @include retina-image("../images/open-source-logo", null)

.commitments__link--blend-web-mix
  @include retina-image("../images/blend-web-mix-logo", null)
