/**************************************************/
/* OUR PROJECTS
/**************************************************/

#our-projects
  border-bottom: 1px solid #e6eaec

.our-projects__list
  overflow: hidden

.our-projects__list-item
  float: left
  width: (100% / 3)
  &:nth-child(odd)
    .project-bg-color
      background: rgba(225, 89, 85, .92)
  &:nth-child(even)
    .project-title,
    .project-description p
      color: $blue
      &:after
        background: $blue
    .project-bg-color
      background: rgba(229, 245, 252, .94)
  @include max-width($tabletLandscape)
    width: 50%
  @include max-width($mobile)
    width: 100%

.project
  display: block
  overflow: hidden
  @include ratio(70%)
  div
    text-align: center
    @include display(flex)
    @include align-items(center)
    @include flex-direction(column)
    @include justify-content(center)
  &:hover
    .project-bg
      @include filter(none)
      @include transform(none)
    .project-description
      opacity: 0
      visibility: hidden
      p
        @include transform(translateY(7px))
    .project-title
      opacity: 0
      @include transform(translateY(5px))

.project-bg,
.project-bg-color
  @include position(absolute, 0)

.project-bg
  background-position: center
  background-size: cover
  will-change: transform, filter
  @include filter(blur(2px))
  @include transform(scale(1.02))
  @include transition(all .1s ease, transform .4s ease-in-out)

.project-title
  color: #fff
  font-size: 24px
  margin-bottom: 30px
  position: relative
  will-change: transform
  @include montserratBold
  @include transition(all .3s ease-in-out)
  &:after
    content: ""
    background: #fff
    width: 20px
    height: 1px
    margin-left: -10px
    @include position(absolute, null null -16px 50%)

.project-description
  color: #fff
  padding: 0 23%
  @include position(absolute, 0)
  @include transition(all .3s ease-in-out)
  p
    font-size: 17px
    opacity: .8
    line-height: 1.7
    @include transition(all .3s ease-in-out)

@each $project_name in locale kyero guerir-le-regard skiwallet misterout misterbnb
  .project-bg--#{$project_name}
    background-image: image-url("#{$project_name}-project.jpg")
