/**************************************************/
/* OUR PROJECTS
/**************************************************/

#our-projects
  border-bottom: 1px solid #e6eaec

.our-projects__list
  overflow: hidden

.our-projects__list-item
  float: left
  width: (100% / 3)
  @include max-width($tabletLandscape)
    width: 50%
  @include max-width($mobile)
    width: 100%

.project
  display: block
  overflow: hidden
  @include ratio(70%)
  div
    text-align: center
    @include display(flex)
    @include align-items(center)
    @include flex-direction(column)
    @include justify-content(center)
  &:not(.no-hover):hover
    .project-bg
      @include filter(none)
    .project-overlay
      opacity: 0
      visibility: hidden
    .project-title
      opacity: 0
      @include transform(translateY(5px))
    .project-description
      @include transform(translateY(7px))
    .project-stack
      @include transform(translateY(7px))
  &:hover .project-bg
    @include transform(none)

.project-bg,
.project-bg-color
  @include position(absolute, 0)

.project-bg
  background-position: center
  background-size: cover
  will-change: transform, filter
  @include filter(blur(2px))
  @include transform(scale(1.02))
  @include transition(all .1s ease, transform .4s ease-in-out)

.project-title
  color: #fff
  font-size: 24px
  margin-bottom: 30px
  position: relative
  will-change: transform
  @include montserratBold
  @include transition(all .3s ease-in-out)
  &:after
    content: ""
    background: #fff
    width: 20px
    height: 1px
    margin-left: -10px
    @include position(absolute, null null -16px 50%)

.project-overlay,
.project-description,
.project-stack
  @include transition(all .3s ease-in-out)

.project-overlay
  color: #fff
  padding: 0 23%
  @include position(absolute, 0)

.project-description
  font-size: 17px
  opacity: .8
  line-height: 1.7

.project-stack
  font-size: 14px
  margin-top: 15px
  opacity: .5

$projects: (locale: rgba(203, 31, 18, .91), kyero: rgba(81, 96, 84, .96), guerir-le-regard: rgba(242, 140, 19, .9), skiwallet: rgba(91, 169, 222, .92), misterbnb: rgba(255, 48, 130, .91), misterout: rgba(95, 197, 241, .92))
@each $project_name, $bgColor in ($projects)
  .project-bg--#{$project_name}
    background-image: image-url("#{$project_name}-project.jpg")
  .project-bg-color--#{$project_name}
    background: $bgColor
