/**************************************************/
/* TEAM
/**************************************************/

.avatar {
    width: 67px;
    margin-bottom: 8px;
    @include filter(grayscale(100%));
}

.social-networks {
    color: $blue;
    margin-top: 18px;

    &:after {
        content: "*";
        display: block;
        font-weight: 300;
        font-size: 20px;
        margin-top: 20px;
        opacity: .9;
    }

    li {
        display: inline-block;

        &:not(:first-child):before {
            content: "-";
            color: #a7a6a6;
        }
    }

    a {
        color: inherit;
        font-size: 12px;
        position: relative;

        // Underline
        &:after {
            content: "";
            background: $blue;
            height: 1px;
            will-change: transform;
            @include position(absolute, null 0 0 0);
            @include transform-origin(100% 0);
            @include transition(all .5s $ease-out-expo);
        }

        &:hover {
            color: #016db8;
            &:after {
                @include transform(scaleX(0));
            }
        }
    }
}
