%section#customers
  %h2= I18n.t('corporate.customers.title')
  - {skiwallet: 'https://www.skiwallet.com', kyero: 'https://www.kyero.com', localeapp: 'https://www.localeapp.com', youpijob: 'https://youpijob.fr'}.each do |customer, url|
    = link_to image_tag("customer-#{customer}.png"), url, {target: :_blank}
