%header#header
  .container
    %h1.header__logo.logo
      %a.scroll-to{href: "#intro"}
        = partial "svg-logo", locals: { width: 68, height: 24, strokeColor: "#fff" }
        %span.name Alpinelab

    %nav.header__navigation{role: "navigation"}
      %ul.header__navigation-list
        - get_menu_labels(%w{what-we-do our-projects team commitments}).each_with_index do |(key, label), index|
          %li.header__navigation-item
            %a.scroll-to{href: "##{key}"}= label
  
    %a.header__write-us{href: "mailto:dahu@alpine-lab.com", title: I18n.t("corporate.footer.title")}
      %i.fa.fa-pencil
      
    %ul.header__languages
      - [:fr, :en].each do |lang|
        %li.header__languages-item
          %a{class: ('active' if lang == I18n.locale), href: I18n.locale == lang ? nil : "/#{lang unless lang == :fr}"}= lang
