%section#projects
  .container
    %h2 RÉALISATIONS
    .row-fluid
      %article.span6.offset3
        %h3
          SkiWallet
          %span.description
            Plateforme de vente en ligne de forfaits de ski
        .screenshot
          %a{href: 'https://www.skiwallet.com', target: :_blank}
            %img{src: image_path('projects-skiwallet.jpg')}
            .mask
              .mask-content
                Une solution multi-stations pensée pour être simple et fluide, plaçant le design et l'intuitivité du parcours client au coeur du concept. La poudreuse à portée de clic.
      .clearfix.visible-phone
    .row-fluid
      %article.span5
        %h3
          AlmostBio
          %span.description
            Web-magazine
        .screenshot
          %a{href: 'http://www.almostbio.com', target: :_blank}
            %img{src: image_path('projects-almostbio.jpg')}
            .mask
              .mask-content
                C’est un blog au sujet du bio, que nous avons conçu comme un web-magazine. On y parle de tout ce qui concerne le bio, à la fois en terme de produits et d’initiatives.
      .clearfix.visible-phone
      %article.span5.offset2
        %h3
          YoupiJob
          %span.description
            Plate-forme de mise en relation entre particuliers
        .screenshot
          %a{href: 'http://www.youpijob.com', target: :_blank}
            %img{src: image_path('projects-youpijob.jpg')}
            .mask
              .mask-content
                Nous avons développé et designé pour Youpijob des fonctionnalités avancées de paiement en ligne et de cagnottes.
      .clearfix.visible-phone
