%svg{width: width, height: height, viewBox: "0 0 134 48", xmlns: "http://www.w3.org/2000/svg"}
  %g{stroke: "none", :"stroke-width" => 1, fill: "none", :"fill-rule" => "evenodd"}
    %path{d: "M2.43359375,44.9980469 L18.9335938,29.4980469 L34.9335938,42.4980469 L53.9335938,20.4980469 L74.4335938,31.4980469 L95.9335938,4.99804688 L130.933594,33.9980469", stroke: strokeColor, :"stroke-width" => "7"}
