%svg#svg2{:width => width, :height => height, viewBox: "0 0 467.11646 241.39442", :space => "preserve", :version => "1.1", :xmlns => "http://www.w3.org/2000/svg", "xmlns:cc" => "http://creativecommons.org/ns#", "xmlns:dc" => "http://purl.org/dc/elements/1.1/", "xmlns:rdf" => "http://www.w3.org/1999/02/22-rdf-syntax-ns#", "xmlns:svg" => "http://www.w3.org/2000/svg"}
  %namedview#namedview3516{:bordercolor => "#666666", :borderopacity => "1", "fit-margin-bottom" => "0", "fit-margin-left" => "0", "fit-margin-right" => "0", "fit-margin-top" => "0", :gridtolerance => "10", :guidetolerance => "10", "inkscape:current-layer" => "g3041", "inkscape:cx" => "152.7718", "inkscape:cy" => "109.35366", "inkscape:pageopacity" => "0", "inkscape:pageshadow" => "2", "inkscape:window-height" => "1027", "inkscape:window-maximized" => "1", "inkscape:window-width" => "1920", "inkscape:window-x" => "0", "inkscape:window-y" => "27", "inkscape:zoom" => "2.3839342", :objecttolerance => "10", :pagecolor => "#ffffff", :showgrid => "false"}
  %metadata#metadata8
    %rdf
      %work{"rdf:about" => ""}
        %format image/svg+xml
        %type{"rdf:resource" => "http://purl.org/dc/dcmitype/StillImage"}
        %title
  %defs#defs6
    %clippath#clipPath16
      %path#path18{:d => "m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 Z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath52
      %path#path54{:d => "m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 Z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath68
      %path#path70{:d => "m 225.76,466.798 23.622,0 0,-25.346 -23.622,0 0,25.346 z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath84
      %path#path86{:d => "m 259.336,478.21 37.289,0 0,-36.758 -37.289,0 0,36.758 z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath100
      %path#path102{:d => "m 300.359,492.143 43.513,0 0,-50.691 -43.513,0 0,50.691 z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath116
      %path#path118{:d => "m 360.734,473.793 6.759,0 0,-14.499 -6.759,0 0,14.499 z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath52-3
      %path#path54-6{:d => "m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 Z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath68-7
      %path#path70-5{:d => "m 225.76,466.798 23.622,0 0,-25.346 -23.622,0 0,25.346 z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath84-3
      %path#path86-5{:d => "m 259.336,478.21 37.289,0 0,-36.758 -37.289,0 0,36.758 z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath100-6
      %path#path102-2{:d => "m 300.359,492.143 43.513,0 0,-50.691 -43.513,0 0,50.691 z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath116-9
      %path#path118-1{:d => "m 360.734,473.793 6.759,0 0,-14.499 -6.759,0 0,14.499 z", "inkscape:connector-curvature" => "0"}
    %clippath#clipPath16-2
      %path#path18-7{:d => "m 0,841.89 595.28,0 L 595.28,0 0,0 0,841.89 Z", "inkscape:connector-curvature" => "0"}
  %g#g10{:transform => "matrix(1.25,0,0,-1.25,-644.15948,815.72626)"}
    %g#text42{:style => "font-size:57.03168488px", :transform => "matrix(0.59633945,0,0,-0.59633945,282.16647,210.20154)"}
      %path#path3125{:d => "m 442.69597,-421.38339 10.50333,0 -31.10603,-48.31534 -31.10603,48.31534 10.50333,0 8.48347,-13.16957 24.23846,0 8.48347,13.16957 m -20.6027,-31.99478 6.94836,10.74572 -13.81593,0 6.86757,-10.74572", "inkscape:connector-curvature" => "0", :style => "font-variant:normal;font-weight:bold;font-stretch:normal;font-size:80.79488373px;font-family:'Aviano Sans Bold';-inkscape-font-specification:AvianoSansBold;writing-mode:lr-tb;fill:#00a0e4;fill-opacity:1;fill-rule:nonzero;stroke:none"}
      %path#path3127{:d => "m 485.84031,-466.46694 -8.80664,0 0,45.08355 43.95242,0 0,-8.07949 -35.14578,0 0,-37.00406", "inkscape:connector-curvature" => "0", :style => "font-variant:normal;font-weight:bold;font-stretch:normal;font-size:80.79488373px;font-family:'Aviano Sans Bold';-inkscape-font-specification:AvianoSansBold;writing-mode:lr-tb;fill:#00a0e4;fill-opacity:1;fill-rule:nonzero;stroke:none"}
      %path#path3129{:d => "m 554.83919,-440.53178 18.58283,0 c 8.32186,0 17.69408,-3.15101 17.69408,-13.00798 0,-9.77617 -9.37222,-12.92718 -17.69408,-12.92718 l -27.38947,0 0,45.08355 8.80664,0 0,-19.14839 m 0,-17.85567 17.85567,0 c 6.70597,0 9.21062,1.6967 9.21062,4.84769 0,3.2318 -2.50465,4.92849 -9.21062,4.92849 l -17.85567,0 0,-9.77618", "inkscape:connector-curvature" => "0", :style => "font-variant:normal;font-weight:bold;font-stretch:normal;font-size:80.79488373px;font-family:'Aviano Sans Bold';-inkscape-font-specification:AvianoSansBold;writing-mode:lr-tb;fill:#00a0e4;fill-opacity:1;fill-rule:nonzero;stroke:none"}
      %path#path3131{:d => "m 627.39303,-421.38339 0,-45.08355 -8.80664,0 0,45.08355 8.80664,0", "inkscape:connector-curvature" => "0", :style => "font-variant:normal;font-weight:bold;font-stretch:normal;font-size:80.79488373px;font-family:'Aviano Sans Bold';-inkscape-font-specification:AvianoSansBold;writing-mode:lr-tb;fill:#00a0e4;fill-opacity:1;fill-rule:nonzero;stroke:none"}
      %path#path3133{:d => "m 667.70965,-421.38339 0,-30.29808 43.71003,33.69146 0,-48.47693 -8.80664,0 0,30.62126 -43.71003,-34.33782 0,48.80011 8.80664,0", "inkscape:connector-curvature" => "0", :style => "font-variant:normal;font-weight:bold;font-stretch:normal;font-size:80.79488373px;font-family:'Aviano Sans Bold';-inkscape-font-specification:AvianoSansBold;writing-mode:lr-tb;fill:#00a0e4;fill-opacity:1;fill-rule:nonzero;stroke:none"}
      %path#path3135{:d => "m 741.55635,-421.38339 44.84116,0 0,-8.07949 -36.03452,0 0,-11.47287 30.37888,0 0,-8.07949 -30.29809,0 0,-9.37221 35.95373,0 0,-8.07949 -44.84116,0 0,45.08355", "inkscape:connector-curvature" => "0", :style => "font-variant:normal;font-weight:bold;font-stretch:normal;font-size:80.79488373px;font-family:'Aviano Sans Bold';-inkscape-font-specification:AvianoSansBold;writing-mode:lr-tb;fill:#00a0e4;fill-opacity:1;fill-rule:nonzero;stroke:none"}
      %path#path3137{:d => "m 827.52199,-466.46694 -8.80665,0 0,45.08355 43.95242,0 0,-8.07949 -35.14577,0 0,-37.00406", "inkscape:connector-curvature" => "0", :style => "font-variant:normal;font-weight:bold;font-stretch:normal;font-size:80.79488373px;font-family:'Aviano Sans Bold';-inkscape-font-specification:AvianoSansBold;writing-mode:lr-tb;fill:#e96255;fill-opacity:1;fill-rule:nonzero;stroke:none"}
      %path#path3139{:d => "m 932.15138,-421.38339 10.50333,0 -31.10603,-48.31534 -31.10603,48.31534 10.50334,0 8.48346,-13.16957 24.23847,0 8.48346,13.16957 m -20.6027,-31.99478 6.94836,10.74572 -13.81592,0 6.86756,-10.74572", "inkscape:connector-curvature" => "0", :style => "font-variant:normal;font-weight:bold;font-stretch:normal;font-size:80.79488373px;font-family:'Aviano Sans Bold';-inkscape-font-specification:AvianoSansBold;writing-mode:lr-tb;fill:#e96255;fill-opacity:1;fill-rule:nonzero;stroke:none"}
      %path#path3141{:d => "m 1017.6323,-435.4417 c 0,-4.44372 -2.9894,-9.21062 -6.9484,-11.39208 1.6159,-1.85828 2.9895,-4.52452 2.9895,-6.94836 0,-10.9073 -10.5034,-12.6848 -18.82525,-12.6848 l -27.14708,0 0,45.08355 31.5908,0 c 8.40263,0 18.34043,-4.03976 18.34043,-14.05831 m -41.12459,5.97882 0,-11.95764 22.86495,0 c 4.12054,0 9.04904,1.29272 9.04904,6.14041 0,4.84769 -5.2517,5.81723 -9.29142,5.81723 l -22.62257,0 m 18.25965,-28.92457 c 3.87815,0 9.69534,0.1616 9.69534,4.6861 0,3.71657 -4.84765,4.28213 -8.07945,4.28213 l -19.87554,0 0,-8.96823 18.25965,0", "inkscape:connector-curvature" => "0", :style => "font-variant:normal;font-weight:bold;font-stretch:normal;font-size:80.79488373px;font-family:'Aviano Sans Bold';-inkscape-font-specification:AvianoSansBold;writing-mode:lr-tb;fill:#e96255;fill-opacity:1;fill-rule:nonzero;stroke:none"}
    %g#g3041{:transform => "translate(405.54762,137.62861)"}
      %g#g4016{:style => "fill:#ffffff;fill-opacity:1", :transform => "matrix(0.98816172,0,0,0.77980224,202.97204,87.579396)"}
        %g#g12-0{:style => "fill:#ffffff;fill-opacity:1", :transform => "translate(-201.94767,12.317584)"}
          %g#g14-9{"clip-path" => "url(#clipPath16-2)", :style => "fill:#ffffff;fill-opacity:1"}
            %g#g20-3{:style => "fill:#ffffff;fill-opacity:1", :transform => "translate(343.8721,439.4531)"}
              %path#path22-6{:d => "m 0,0 0,-21.622 -23.625,0 -23.622,0 -23.621,0 0,21.622 -47.244,0 0,-52.007 c 0,-7.826 6.404,-14.225 14.228,-14.225 l 113.277,0 c 7.825,0 14.229,6.399 14.229,14.225 L 23.622,0 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %path#path24-0{:d => "m 249.382,417.831 -23.623,0 0,23.621 23.623,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %path#path26-6{:d => "m 273.004,417.831 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %path#path28-2{:d => "m 367.494,417.831 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %path#path30-6{:d => "m 249.382,394.21 -23.623,0 0,23.621 23.623,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %path#path32-1{:d => "m 273.004,394.21 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %path#path34-8{:d => "m 296.625,394.21 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %path#path36-7{:d => "m 320.247,394.21 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %path#path38-9{:d => "m 343.872,394.21 -23.625,0 0,23.621 23.625,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %path#path40-2{:d => "m 367.494,394.21 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
        %g#g48-0{:style => "fill:#ffffff;fill-opacity:1", :transform => "translate(-201.94767,12.317584)"}
          %g#g50-2{"clip-path" => "url(#clipPath52-3)", :style => "fill:#ffffff;fill-opacity:1"}
            %g#g56-3{:style => "fill:#ffffff;fill-opacity:1", :transform => "translate(362.7236,464.8945)"}
              %path#path58-7{:d => "m 0,0 c 0,0 -29.737,27.249 -35.409,27.249 -3.904,0 -16.699,-15.51 -26.955,-25.182 -7.258,5.934 -14.453,11.249 -16.958,11.249 -3.512,0 -14.201,-12.524 -23.774,-22.078 -0.17,-0.022 -0.338,-0.044 -0.508,-0.066 -6.339,5.595 -12.665,10.732 -14.531,10.731 -2.395,0 -12.572,-10.26 -18.828,-16.813 l 0,-8.532 47.243,0 0,-23.621 23.622,0 23.621,0 23.625,0 0,23.621 23.622,0 0,22.399 C 3.384,-1.163 1.769,-0.949 0,0", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %g#g60-5{:style => "fill:#ffffff;fill-opacity:1", :transform => "translate(225.7607,449.9844)"}
              %path#path62-9{:d => "m 0,0 c 6.256,6.553 16.433,16.813 18.828,16.813 1.866,0.001 8.192,-5.136 14.531,-10.731 0.17,0.022 0.338,0.044 0.508,0.066 9.572,9.554 20.262,22.078 23.774,22.078 2.505,0 9.7,-5.315 16.958,-11.248 10.255,9.671 23.05,25.181 26.955,25.181 5.672,0 35.409,-27.249 35.409,-27.249 1.768,-0.949 3.384,-1.163 4.769,-1.043 l 0.001,36.556 c 0,7.998 -6.404,14.545 -14.232,14.545 l -113.275,0 c -7.823,0 -14.227,-6.547 -14.227,-14.545 L 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %g#g64-2{:style => "fill:#ffffff;fill-opacity:1"}
              %g#g66-2{:style => "fill:#ffffff;fill-opacity:1"}
              %g#g72-8{:style => "fill:#ffffff;fill-opacity:1"}
                %g#g74-9{"clip-path" => "url(#clipPath68-7)", :style => "opacity:0.10000598;fill:#ffffff;fill-opacity:1"}
                  %g#g76-7{:style => "fill:#ffffff;fill-opacity:1", :transform => "translate(244.6279,466.792)"}
                    %path#path78-3{:d => "m 0,0 c -0.012,0 -0.029,0.006 -0.041,0.006 -2.394,0 -12.571,-10.261 -18.827,-16.814 l 0,-8.532 23.622,0 L 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %g#g80-6{:style => "fill:#ffffff;fill-opacity:1"}
              %g#g82-1{:style => "fill:#ffffff;fill-opacity:1"}
              %g#g88-2{:style => "fill:#ffffff;fill-opacity:1"}
                %g#g90-9{"clip-path" => "url(#clipPath84-3)", :style => "opacity:0.10000598;fill:#ffffff;fill-opacity:1"}
                  %g#g92-3{:style => "fill:#ffffff;fill-opacity:1", :transform => "translate(296.6255,441.4521)"}
                    %path#path94-1{:d => "m 0,0 -13.289,36.747 c -0.03,10e-4 -0.069,0.011 -0.098,0.011 -3.512,0 -14.201,-12.524 -23.774,-22.077 -0.043,-0.006 -0.085,-0.012 -0.128,-0.017 L -23.622,0 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %g#g96-9{:style => "fill:#ffffff;fill-opacity:1"}
              %g#g98-4{:style => "fill:#ffffff;fill-opacity:1"}
              %g#g104-7{:style => "fill:#ffffff;fill-opacity:1"}
                %g#g106-8{"clip-path" => "url(#clipPath100-6)", :style => "opacity:0.10000598;fill:#ffffff;fill-opacity:1"}
                  %g#g108-4{:style => "fill:#ffffff;fill-opacity:1", :transform => "translate(327.0244,492.1406)"}
                    %path#path110-5{:d => "m 0,0 c -0.006,0 -0.014,0.002 -0.02,0.002 -3.811,0 -16.522,-15.48 -26.645,-25.181 l 22.486,-25.51 21.027,0 L 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
            %g#g112-0{:style => "fill:#ffffff;fill-opacity:1"}
              %g#g114-3{:style => "fill:#ffffff;fill-opacity:1"}
              %g#g120-6{:style => "fill:#ffffff;fill-opacity:1"}
                %g#g122-1{"clip-path" => "url(#clipPath116-9)", :style => "opacity:0.10000598;fill:#ffffff;fill-opacity:1"}
                  %g#g124-0{:style => "fill:#ffffff;fill-opacity:1", :transform => "translate(367.4932,473.7935)"}
                    %path#path126-6{:d => "M 0,0 C -2.296,-2.403 -4.587,-4.75 -6.759,-6.832 L 0,-14.5 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
      %g#g12
        %g#g14{"clip-path" => "url(#clipPath16)"}
          %g#g20{:transform => "translate(343.8721,439.4531)"}
            %path#path22{:d => "m 0,0 0,-21.622 -23.625,0 -23.622,0 -23.621,0 0,21.622 -47.244,0 0,-52.007 c 0,-7.826 6.404,-14.225 14.228,-14.225 l 113.277,0 c 7.825,0 14.229,6.399 14.229,14.225 L 23.622,0 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#e96255;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %path#path24{:d => "m 249.382,417.831 -23.623,0 0,23.621 23.623,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#f8c0b6;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %path#path26{:d => "m 273.004,417.831 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#fef2ef;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %path#path28{:d => "m 367.494,417.831 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#f9c7b9;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %path#path30{:d => "m 249.382,394.21 -23.623,0 0,23.621 23.623,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#ea5658;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %path#path32{:d => "m 273.004,394.21 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#eb5e5b;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %path#path34{:d => "m 296.625,394.21 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#f39c8e;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %path#path36{:d => "m 320.247,394.21 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#f9c7b9;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %path#path38{:d => "m 343.872,394.21 -23.625,0 0,23.621 23.625,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#fbd6cc;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %path#path40{:d => "m 367.494,394.21 -23.622,0 0,23.621 23.622,0 0,-23.621 z", "inkscape:connector-curvature" => "0", :style => "fill:#eb5e5b;fill-opacity:1;fill-rule:evenodd;stroke:none"}
      %g#g48
        %g#g50{"clip-path" => "url(#clipPath52)"}
          %g#g56{:transform => "translate(362.7236,464.8945)"}
            %path#path58{:d => "m 0,0 c 0,0 -29.737,27.249 -35.409,27.249 -3.904,0 -16.699,-15.51 -26.955,-25.182 -7.258,5.934 -14.453,11.249 -16.958,11.249 -3.512,0 -14.201,-12.524 -23.774,-22.078 -0.17,-0.022 -0.338,-0.044 -0.508,-0.066 -6.339,5.595 -12.665,10.732 -14.531,10.731 -2.395,0 -12.572,-10.26 -18.828,-16.813 l 0,-8.532 47.243,0 0,-23.621 23.622,0 23.621,0 23.625,0 0,23.621 23.622,0 0,22.399 C 3.384,-1.163 1.769,-0.949 0,0", "inkscape:connector-curvature" => "0", :style => "fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %g#g60{:transform => "translate(225.7607,449.9844)"}
            %path#path62{:d => "m 0,0 c 6.256,6.553 16.433,16.813 18.828,16.813 1.866,0.001 8.192,-5.136 14.531,-10.731 0.17,0.022 0.338,0.044 0.508,0.066 9.572,9.554 20.262,22.078 23.774,22.078 2.505,0 9.7,-5.315 16.958,-11.248 10.255,9.671 23.05,25.181 26.955,25.181 5.672,0 35.409,-27.249 35.409,-27.249 1.768,-0.949 3.384,-1.163 4.769,-1.043 l 0.001,36.556 c 0,7.998 -6.404,14.545 -14.232,14.545 l -113.275,0 c -7.823,0 -14.227,-6.547 -14.227,-14.545 L 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#00a0e4;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %g#g64
            %g#g66
            %g#g72
              %g#g74{"clip-path" => "url(#clipPath68)", :style => "opacity:0.10000598"}
                %g#g76{:transform => "translate(244.6279,466.792)"}
                  %path#path78{:d => "m 0,0 c -0.012,0 -0.029,0.006 -0.041,0.006 -2.394,0 -12.571,-10.261 -18.827,-16.814 l 0,-8.532 23.622,0 L 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#00a0e4;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %g#g80
            %g#g82
            %g#g88
              %g#g90{"clip-path" => "url(#clipPath84)", :style => "opacity:0.10000598"}
                %g#g92{:transform => "translate(296.6255,441.4521)"}
                  %path#path94{:d => "m 0,0 -13.289,36.747 c -0.03,10e-4 -0.069,0.011 -0.098,0.011 -3.512,0 -14.201,-12.524 -23.774,-22.077 -0.043,-0.006 -0.085,-0.012 -0.128,-0.017 L -23.622,0 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#00a0e4;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %g#g96
            %g#g98
            %g#g104
              %g#g106{"clip-path" => "url(#clipPath100)", :style => "opacity:0.10000598"}
                %g#g108{:transform => "translate(327.0244,492.1406)"}
                  %path#path110{:d => "m 0,0 c -0.006,0 -0.014,0.002 -0.02,0.002 -3.811,0 -16.522,-15.48 -26.645,-25.181 l 22.486,-25.51 21.027,0 L 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#00a0e4;fill-opacity:1;fill-rule:evenodd;stroke:none"}
          %g#g112
            %g#g114
            %g#g120
              %g#g122{"clip-path" => "url(#clipPath116)", :style => "opacity:0.10000598"}
                %g#g124{:transform => "translate(367.4932,473.7935)"}
                  %path#path126{:d => "M 0,0 C -2.296,-2.403 -4.587,-4.75 -6.759,-6.832 L 0,-14.5 0,0 Z", "inkscape:connector-curvature" => "0", :style => "fill:#00a0e4;fill-opacity:1;fill-rule:evenodd;stroke:none"}
