---
title: Alpine Lab
priority: 1.0
layout: corporate
---

.container.full-width
  %section#about
    .container
      %h1 Alpine Lab
      %p
        Nous sommes une jeune agence riche de profils multiples : developpeurs, designer, architecte, modélisateur...
      %p
        Cette diversité crée notre complémentarité : elle nous permet de sortir des sentiers battus pour concevoir des solutions globales et innovantes, intégrant tous les expertises du  domaine du web : design, intuitivité, fonctionalité, ergonomie... et bon sens !
  %section#what-we-do
    .container
      %h1 Nos compétences
      %ul.row-fluid
        %li.span4
          = link_to '/pages/marketing' do
            .flip-container{ontouchstart: "this.classList.toggle('hover');"}
              .flipper
                .front
                  %p Marketing
                .back
                  %p
                    Du blah blah marketing
                    Lorem Ipsum Doler
        %li.span4
          = link_to '/pages/technique' do
            .flip-container{ontouchstart: "this.classList.toggle('hover');"}
              .flipper
                .front
                  %p Technique
                .back
                  %p Blah Blah Blah technique, personne n'y comprend rien...
        %li.span4
          = link_to '/pages/gestion' do
            .flip-container{ontouchstart: "this.classList.toggle('hover');"}
              .flipper
                .front
                  %p Gestion
                .back
                  %p Blah Blah Blah encore et toujours...
  .container
    %section#hire-us
      .row
        .span9
          %h1.animate
            Engagez-nous
            %i.icon-arrow-right
        .span3
          %h1
            %a.btn.btn-large.btn-danger{href: '/contact'}
              De toute urgence !
  .container
    %p Bacon ipsum dolor sit amet jowl drumstick ribeye bresaola, ground round salami bacon t-bone kielbasa. Leberkas flank kielbasa pastrami. Brisket pork chop kielbasa leberkas sausage shoulder, corned beef biltong pork loin ham hock shank bresaola doner flank. Ribeye kielbasa cow fatback shoulder. Sausage beef ribs ground round andouille sirloin pastrami flank pork chop turkey chicken beef rump.

    %p Rump ribeye t-bone bacon pancetta. Salami hamburger pork chop sirloin capicola swine spare ribs. Tenderloin salami frankfurter short loin, short ribs jerky andouille strip steak pork loin leberkas pork belly corned beef tri-tip. Corned beef ham hock t-bone turkey pork loin flank pig meatball. Tail biltong ham short ribs shoulder, turducken boudin. Tail leberkas venison pork turducken, brisket hamburger tenderloin fatback sausage tri-tip swine.

    %p Short ribs tongue chicken bacon capicola tri-tip. Tri-tip turducken hamburger meatloaf meatball sausage beef ribs drumstick t-bone sirloin bresaola pork pastrami beef. Ham hock prosciutto chuck beef drumstick, jerky short loin biltong. Ribeye chuck shank ball tip, salami filet mignon shoulder swine.

    %p Doner corned beef ball tip pork belly sirloin. Strip steak boudin pork chop tail, sirloin shank leberkas ribeye venison kielbasa tri-tip. Andouille flank meatloaf pastrami ham hock. Ball tip beef ribs jowl pork belly brisket, jerky corned beef.

    %p Doner ham hamburger corned beef tri-tip drumstick, turkey andouille jowl sirloin pork loin shoulder shank tenderloin t-bone. Swine kielbasa spare ribs tenderloin andouille shoulder ribeye cow. Pork loin chicken pastrami bresaola tongue, cow sausage meatball bacon tri-tip drumstick. Bresaola doner sausage cow tri-tip swine turkey. Capicola jerky filet mignon spare ribs ham beef flank pig.

    %p Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
#push

