---
title: Alpine Lab
priority: 1.0
layout: corporate
---

.container.full-width
  %section#about
    .container
      %h1 Bâtir des stratégies innovantes.
      %p
        Nous sommes une jeune agence riche de profils multiples : developpeurs, designer, architecte, modélisateur...
      %p
        Cette diversité crée notre complémentarité : elle nous permet de sortir des sentiers battus pour concevoir des solutions globales et innovantes, intégrant tous les expertises du  domaine du web : design, intuitivité, fonctionalité, ergonomie... et bon sens !
  %section#what-we-do
    .container
      %h1 Nos compétences
      %ul.row-fluid
        %li.span4
          = link_to '/marketing' do
            .flip-container{ontouchstart: "this.classList.toggle('hover');"}
              .flipper
                .front
                  %p Marketing
                .back
                  %p
                    Du blah blah marketing
                    Lorem Ipsum Doler
        %li.span4
          = link_to '/technique' do
            .flip-container{ontouchstart: "this.classList.toggle('hover');"}
              .flipper
                .front
                  %p Technique
                .back
                  %p Blah Blah Blah technique, personne n'y comprend rien...
        %li.span4
          = link_to '/gestion' do
            .flip-container{ontouchstart: "this.classList.toggle('hover');"}
              .flipper
                .front
                  %p Gestion
                .back
                  %p Blah Blah Blah encore et toujours...
  .container
    %section#hire-us
      .row
        .span9
          %h1.animate
            Engagez-nous
            %i.icon-arrow-right
        .span3
          %h1
            %a.btn.btn-large.btn-danger{href: '/contact'}
              De toute urgence !
#push

