!!! XML

- base_url = "https://www.alpine-lab.com/"
- pages = sitemap.resources.find_all { |p| p.source_file.match(/\.html/) and not p.destination_path.match(/\/page\/[0-9]+/) }

%urlset{xmlns: "http://www.sitemaps.org/schemas/sitemap/0.9"}
  - pages.each do |p|
    %url
      %loc= base_url + p.destination_path.gsub('index.html','')
      %priority= p.metadata[:page]['priority'] || 0.5
      %lastmod= File.new(p.source_file).mtime.to_date
